<div class="container">
  <div class="row mt-lg-5">
    <div class="col-sm-10 offset-sm-1">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a routerLink="/"
             routerLinkActive="active"
             [routerLinkActiveOptions]="{exact: true}" class="nav-link">Home</a>
        </li>
        <li class="nav-item">
          <a routerLink="/servers"
             routerLinkActive="active"
             [routerLinkActiveOptions]="{exact: true}" class="nav-link">Servers</a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/users']"
             routerLinkActive="active"
             [routerLinkActiveOptions]="{exact: true}" class="nav-link">Users</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-12 offset-sm-1 offset-md-2">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
